{% extends 'StasmoPanaxBundle::layout.html.twig' %}

{% block body %}
<div><a href="{{ url('add_image') }}" class='btn btn-default' style='margin-bottom: 10px;'>Add image</a></div>
<table class="table">
{% for image in images %}
<tr>
	<td>{{ image.formattedUploadDate }}</td>
	<td>{{ image.caption }}</td>
	<td>{{ image.fileName }}</td>
	<td><a href="/pics/edit/{{ image.id }}">Edit</a></td>
	<td><a href="/pics/delete/{{ image.id }}">Delete</a></td>
	<td><img src="{{ image.webLocation | imagine_filter('thumb_small') }}"></td>
</tr>
{% endfor %}
</table>
{% endblock %}